.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.login-redes {
    position: absolute;
    top: 0;
    right: 0;
    right: 90px;
    padding: 20px;
    z-index: 2; 
}

.login-redes img{
    width: 40px;
}

#loginButton{
  position: absolute;
  text-align: center;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  z-index: 2; 
  background-color: #4c82af;
  color: #fff;
  line-height: 1.5;
  border-radius: 5px;
  transition: all 0.3s ease-in-out; 
}

#loginButton:hover{
  background-color: #35678d; 
  transform: scale(1.05); 
  cursor: pointer; 
}