<section class="experience-section">
    <h2 class="sub1">Experiencia Laboral</h2>
    <div class="experience-grid">
        <div class="experience-card">
            <img src="../../../assets/icono ropa.png" >
            <h2>Kiwi Lomas</h2>
            <h3>2021 - febrero 2022 </h3>
            <p>Atención al cliente, venta de indumentaria multimarca, mantenimiento del local en óptimas condiciones y tareas de apertura y cierre.

            </p>
        </div>
        <div class="experience-card">
            <img src="../../../assets/randstad.png" alt="Logo de Empresa 2">
            <h2>Randstad</h2>
            <h3>Mayo 2022</h3>
            <p>Trabajadora temporal de atención al cliente online para multinacional Accenture, gestionar chats multimarca, derivar, proporcionar información y resolver dudas técnicas sobre los productos en cuestión</p>
        </div>
    </div>
</section>

