.tt {
    left: 260px;
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
    color: #000; /* Ajusta el color del texto según sea necesario */
  }