.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.login-redes {
    position: absolute;
    top: 0;
    right: 0;
    right: 90px;
    padding: 20px;
    z-index: 2; 
}

.login-redes img{
    width: 40px;
}

